{% extends 'base.html.twig' %}

{% block body %}
{{ post.content }}
    {{ post.title }}
    {{ post.creation_date_fr }}
        <a href="index.php?c=post&t=deletePost&params[postId]={{ post.id }}&params[token]={{token}}">DELETE</a>
    <a href="index.php?c=post&t=updatePost&params[postId]={{ post.id }}">UPDATE</a>
    <a href="index.php?c=comment&t=addComment&params[postId]={{ post.id }}">commentaire</a>
    {% for comment in comments %}
    {{ comment.comment }}
    {% endfor %}
{% endblock %}